%p#notice= notice
%img.rightavatblog{:alt => @blog.title, :src => @blog.avatar.url}/
%span.btltl
  = @blog.title
%br
%span.bdt
  = @blog.created_at.to_s(:my_datetime)
%br
%span.bpost
  = @blog.post
%br
%span.busr
  Post by:
  = "#{@blog.user.firstname} #{@blog.user.lastname}"
%br
.span8
  %a#vverh{:href => "#"} Up
  - if current_user
    %a.btn.btn-success{"data-toggle" => "modal", :href => "#newComment", :role => "button"} Add a new comment
    %br
  - if @blog.comments.any?
    %span.pcntcmm
      Comments (#{@blog.comments.count})
    %br
    %ol.comments
      = render @comments
    = will_paginate @comments
- if this_is_admin?
  = link_to 'Edit', edit_blog_path(@blog),:class=>"btn btn-warning"
  \|
= link_to 'Back', blogs_path,:class=>"btn btn-inverse"

#newComment.modal.hide.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-header
    %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
    %h3#myModalLabel.portfolio-info
  .modal-body
    %h2 New comment
    %input#blog_id{:type => "hidden", :value => @blog.id}
    #contact
      %label{:for => "msg"} Enter your message
      %textarea#msg.txtarea{:name => "msg"}
      %button#send.btn.btn-success{'aria-hidden' => 'true', 'data-dismiss' => 'modal'} Send
  .modal-footer
    %button.btn{'aria-hidden' => 'true', 'data-dismiss' => 'modal'} Close