.product
  %p#notice= notice
  %img.rightavatblog{:alt => @product.title, :src => @product.avatar.url}
  %span.btltl
    = @product.title
  %br
  %br
  .buy-prod
    = link_to 'Buy now', new_payment_path(:prod_id => @product.id), :class => "btn btn-info"
  .price
    = @product.price
    $
  %br
    %p= link_to "FREE version", @product.attachfree.url(), :class => "btn btn-info"
  %span.bdt
    = @product.created_at.to_s(:my_datetime)
  %br
  %span.bpost
    = simple_format(@product.desc)
  %br
  .span
    %a#vverh{:href => "#"} Up
  - if this_is_admin?
    = link_to 'Edit', edit_product_path(@product),:class=>"btn btn-warning"
    \|
  = link_to 'Back', products_path,:class=>"btn btn-inverse"